
<div class="row">
  <div class="col-sm-6">
    <input type="text" class="form-control mx-auto my-2" style="width: 70%;" [(ngModel)]="searchText" (ngModelChange)="updateProducts()" placeholder="Search...">
  </div>
  <div class="col-sm-3">
    <div class="d-flex align-items-center">
    <label for="category-select">Select a Category:</label>
    <select id="category-select" class="form-control mx-auto my-2" style="width: 50%;" [(ngModel)]="selectedCategory" (ngModelChange)="updateProducts()">
      
      <option value="">All (default)</option>
      <option *ngFor="let category of categories" [value]="category">
        {{category}}
      </option>
    </select>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="d-flex align-items-center">
    <label for="sort-select">Sort by:</label>
    <select id="sort-select" class="form-control mx-auto my-2" style="width: 50%;" [(ngModel)]="selectedSortType" (ngModelChange)="updateProducts()">
      <option value="">None (default)</option>
      <option *ngFor="let sort of allSortingTypes" [value]="sort">
        {{sort}}
      </option>
    </select>
    </div>
  </div>
</div>



<table class="table">
    <thead>
      <tr>
        <th scope="col">Product</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Image</th>
        <th *ngIf="isAdmin2" scope="col" colspan="2">Action</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of filteredProducts | paginate: { itemsPerPage: 5, currentPage: page }">
            <a [routerLink]="['productdetails',product.id]">
            <td>{{product.name}}</td></a>
            <td>{{product.description}}</td>
            <td *ngIf="product.discount == 0">Rs. {{product.price}}</td>
            <td *ngIf="product.discount != 0">Rs. <s>{{product.price}}</s> {{product.price - product.price*product.discount/100| number:'1.0-2'}}</td>
            <td><img src = "{{product.imageUrl}}" width="100px" height="100px"></td>
            <td *ngIf="isAdmin2">
                <a [routerLink]="['editProduct',product.id]">Edit</a>
            </td>
            <td *ngIf="isAdmin2">
                <a routerLink="" (click)="deleteProduct(product)">Delete</a>
            </td>
        </tr>
    </tbody>
  </table>
  <pagination-controls style="text-align: center;" (pageChange)="page = $event"></pagination-controls>
 
  